extends ../layout

block content
  h1 Edit status

  form(method="post" action=`/statuses/${status.id}?_method=PATCH`)
    .mb-3
      label.form-label(for="data_name") Name
      input.form-control(type="text" name="data[name]" id="data_name" value=status.name)

    button.btn.btn-primary(type="submit") Update
