extends ../layout

block content
  h1= t('createStatus')

  form(method="post" action="/statuses")
    .mb-3
      label.form-label(for="data_name")= t('name')
      input.form-control(type="text" name="data[name]" id="data_name")

    button.btn.btn-primary(type="submit") Create
