extends ../layout.pug

block content
  .container.mt-4
    h2 Register New User
    form(method="POST", action="/users")
      .mb-3
        label(for="data_firstName") First Name
        input.form-control#data_firstName(name="data[firstName]", required)
      .mb-3
        label(for="data_lastName") Last Name
        input.form-control#data_lastName(name="data[lastName]", required)
      .mb-3
        label(for="data_email") Email
        input.form-control#data_email(type="email", name="data[email]", required)
      .mb-3
        label(for="data_password") Password
        input.form-control#data_password(type="password", name="data[password]", required)
      button.btn.btn-primary(type="submit") Register